{% extends 'base.html' %}

{% block content %}

<div id="fullpage">

    <!-- ========================== -->
    <!-- ===== Splash section ===== -->
    <!-- ========================== -->

    <div class="section" data-tooltip="home" data-anchor="home">
        <div class="fullscreen-bg">
            <video loop muted data-autoplay data-keepplaying poster="/static/rhapsody_web/poster.jpg" class="fullscreen-bg__video">
                <source src="/static/rhapsody_web/record.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container page-header">
            <h1><img class="R" alt="r" src="/static/rhapsody_web/favicon.ico">hapsody</h1>
            <p>Next generation music recommendation</p>
        </div>
    </div>


    <!-- ========================= -->
    <!-- ===== Graph section ===== -->
    <!-- ========================= -->

    <div class="section fp-noscroll" data-tooltip="app" data-anchor="app">
        <form name="entry" class="container">
            <br>
            <label for="entry">Enter the name of a song, artist or album you like</label>
            <input class="form-control" id="entry" placeholder="Fallout Boy...">
        </form>
        <div id="graph"></div>
    </div>


    <!-- ========================== -->
    <!-- ===== Footer section ===== -->
    <!-- ========================== -->

    <div class="section container" data-tooltip="info" data-anchor="info">
        <p>
            Project executed for Notre Dame CSE-30246.
            See <a href="https://github.com/wbadart/rhapsody">repo</a> for details.
            <br>
            &copy; 2018 CSE-30246 Rhapsody Project Group
        </p>
        <p><a href="/accounts/logout">Logout</a><p>
    </div>

</div><!--/#fullpage-->


<script>
    $('#fullpage').fullpage({
        navigation: true,
        onLeave: function(index, next, direction) {
            $('#fp-nav ul li a span, .fp-slidesNav ul li a span').css(
                'background', next !== 1 ? '#333' : 'white');
            $('.fp-tooltip').css('color', next !== 1 ? 'black' : 'white');
        }
    });
    $('#graph').scroll(function(e) {
        console.log(e);
    });
</script>
<script src="/static/rhapsody_web/graph.js"></script>

{% endblock %}
