<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>rhapsody | Home</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js">
    </script>

    <style>
        .page-header {
            margin-top: 2em;
        }
    </style>
</head>
<body class="container">

    <header class="page-header">
        <h1>rhapsody</h1>
        <p>Next generation music recommendation</p>
    </header>

    <main>
        <ul>
            {% for song in songs %}
            <li>
                <strong>{{ song.title }}</strong>
                by {{ song.artist.name }}
            </li>
            {% endfor %}
        </ul>
        <hr>
        <div id="graph"></div>
    </main>

    <hr>
    <footer>
        <p>
            Project executed for Notre Dame CSE-30246.
            See <a href="https://github.com/wbadart/rhapsody">repo</a> for details.
            <br>
            &copy; 2018 CSE-30246 Rhapsody Project Group
        </p>
        <p><a href="/accounts/logout">Logout</a><p>
    </footer>

    <script src="/static/rhapsody_web/graph.js"></script>
</body>
</html>
