{% extends "base.html" %}

{% block content %}

<div id="fullpage">
    <div class="section container">
        <div class="fullscreen-bg">
            <video loop muted data-autoplay data-keepplaying poster="/static/rhapsody_web/poster.jpg" class="fullscreen-bg__video">
                <source src="/static/rhapsody_web/record.mp4" type="video/mp4">
            </video>
        </div>
        <div class="page-header">

            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}

                <input class="btn btn-info" type="submit" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

            <br>
            <hr style="border-color:white">

            {# Assumes you setup the password_reset view in your URLconf #}
            <p>
                <a class="btn btn-outline-danger" href="{% url 'password_reset' %}">Lost password?</a>
                <a class="btn btn-outline-success" href="{% url 'signup' %}">Register</a>
            </p>
        </div>

    </div>
</div>

<script>
    $('#fullpage').fullpage();
</script>

{% endblock %}
