body, .fp-tooltip { font-family: 'Poppins', sans-serif !important; }
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white;
}
.page-header {
    color: white;
    font-weight: bold;
    margin-top: 2em;
}
.page-header h1 { font-size: 4em; }
.page-header p { font-size: 2em; }
.R {
    height: .9em;
    margin-left: -7px;
    margin-top: 6px;
}
div#graph {
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 1em;
}

span.helptext {
    display: block;
    font-size: 0.5em;
}

#signup-block label, input {
    display: block;
    font-size: 0.7em;
}

div.app label {
    color: white;
}

div.app input#entry {
    font-size: 1em;
    width: 100%;
}

div.app .btn-warning {
    color: white;
}

.loader {
    position: relative;
    width; 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
}

.loader-7 .line {
    width: 8px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#1ee95d), to(#5714ce));
    background: -webkit-linear-gradient(top, #1ee95d, #5714ce);
    background: -o-linear-gradient(top, #1ee95d, #5714ce);
    background: linear-gradient(to bottom, #1ee95d, #5714ce);
}

.loader-7 .line1 {
    left: 0;
    -webkit-animation: line-grow 0.5s ease alternate infinite;
    animation: line-grow 0.5s ease alternate infinite;
}

.loader-7 .line2 {
    left: 20px;
    -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
    animation: line-grow 0.5s 0.2s ease alternate infinite;
}

.loader-7 .line3 {
    left: 40px;
    -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
    animation: line-grow 0.5s 0.4s ease alternate infinite;
}

@-webkit-keyframes line-grow {
    0% { height: 0 }
    100% { height: 75% }
}

@keyframes line-grow {
    0% { height: 0 }
    100% { height: 75% }
}

.btn-outline-danger, .btn-outline-success {
    color: white;
}
